:root {
    --blue-grey-50: #ECEFF1;
    --blue-grey-100: #CFD8DC;
    --blue-grey-200: #B0BEC5;
    --blue-grey-400: #78909C;
    --blue-grey-800: #37474f;
    --blue-grey-900: #263238;
    --dark-grey: #111; 
    --white: #fff;
    
}

body {
    color: #000;
    text-align: center;
}

header, 
footer {
    background-color: var(--dark-grey);
    color: var(--white);
    padding: 2rem 4rem;
}

header a,
footer a {
    text-decoration: none;
    color: var(--white);
}

header h1,
footer h2 {
    font-family: "Libre Baskerville", serif;
}

header div,
footer .logo {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

h1,
footer h2 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

header img {
    max-height: 3.5rem;
}

header nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

footer {
    padding: 3rem 1.5rem;
}

footer p {
    color: var(--blue-grey-200);
}

footer p:first-of-type {
    text-align: left;
    margin-bottom: 2rem;
}

footer img {
    max-height: 4.75rem;
}

footer nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}

footer h3,
footer a {
    text-align: left;
    display: block;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
}

section:first-child {
    background-color: var(--blue-grey-50);
}

.home section:first-child img {
    display: block;
    margin: 0 auto;
}

button {
    background-color: var(--dark-grey);
    color: var(--blue-grey-50);
    border: none;
    padding: 1rem;
    border-radius: 0.5rem;
}

blockquote {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.quote {
    background-color: var(--blue-grey-400);
    color: var(--white);
}

p {
    margin: 0;
}

.blue-grey-50 {
    color: var(--blue-grey-50);
}

.home section:nth-last-child(2) {
    background-color: var(--blue-grey-100);
}

.gallery section:nth-last-child(2) {
    background-color: var(--blue-grey-400);
    color: var(--white);
}

section:last-child {
    background-color: var(--blue-grey-800);
    padding: 4rem 2rem;
}

.home section:last-child div {
    background-color: var(--white);
    border-radius: 0.5rem;
}

.gallery section:last-child {
    color: var(--white);
}