:root {
    --blue-grey-50: #ECEFF1;
    --blue-grey-100: #CFD8DC;
    --blue-grey-200: #B0BEC5;
    --blue-grey-400: #78909C;
    --blue-grey-800: #37474f;
    --blue-grey-900: #263238;
    --dark-grey: #191919; 
    --darker-grey: #111; 
    --white: #fff;
}

body {
    color: #000;
    text-align: left;
}

section {
    padding: 2rem 1.5rem;
}

/* HEADER AND FOOTER */
header, 
footer {
    background-color: var(--darker-grey);
    color: var(--white);
    padding: 2rem 4rem;
}

footer {
    background-color: var(--dark-grey);
}

header a,
footer a {
    text-decoration: none;
    color: var(--white);
}

header div,
.logo div {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

h1,
footer h2 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

header img {
    max-height: 3.5rem;
}

header nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

footer {
    padding: 3rem 1.5rem;
}

footer p {
    color: var(--blue-grey-200);
}

footer p:first-of-type {
    margin-bottom: 2rem;
}

footer img {
    max-height: 4.75rem;
}

footer nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}

footer a {
    display: block;
    margin-bottom: 1rem;
}

/* FONT STYLING */
header h1,
footer h2 {
    font-family: "Libre Baskerville", serif;
}

h2,
blockquote {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 2.5rem;
}

footer p:nth-child(3),
.home section:first-child, 
.gallery section:first-child h2,
section:nth-child(2),
blockquote,
.home section:nth-last-child(2) p {
    text-align: center;
}

main h2,
main h3 {
    margin-bottom: 1.5rem;
}

p {
    margin: 0;
}

.asterisk {
    font-size: 3rem;
    font-weight: bolder;
    margin-top: 3rem;
    line-height: 2rem;
    text-align: center;
}

/* FIRST SECTION */
section:first-child {
    background-color: var(--blue-grey-50);
}

.home section:first-child img {
    display: block;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
}

button {
    background-color: var(--dark-grey);
    color: var(--blue-grey-50);
    border: none;
    padding: 1.25rem;
    border-radius: 0.5rem;
    margin: 2rem;
    font-size: 1rem;
}

.gallery section:first-child h3,
.gallery section:first-child p {
    margin-bottom: 2rem;
}

.gallery section:first-child img {
    margin: 1rem auto;
    width: 100%;
}

.gallery section:first-child h3:first-child {
    margin-top: 2rem;
}

figure {
    margin: 1rem 0;
    padding-bottom: 1rem;
}

/* SECOND SECTION */
.home section:nth-child(2) {
    margin-bottom: 2rem;
}

.home section:nth-child(2) h2,
.home section:nth-child(2) h3 {
    margin-top: 0;
}

.gallery blockquote {
    padding: 1.5rem 0;
}

/* THIRD SECTION */
.quote {
    background-color: var(--blue-grey-400);
    color: var(--white);
    padding: 1rem 0;
    text-align: center;
}

.quote p:nth-child(2) {
    margin-bottom: 1rem;
}

.quote p:nth-child(3) {
    color: var(--blue-grey-50);
    padding-bottom: 2rem;
}

.gallery section:nth-last-child(2) {
    background-color: var(--blue-grey-400);
    color: var(--white);
}

.gallery section:nth-last-child(2) p {
    padding-bottom: 2rem;
}

/* FOURTH SECTION */
.home section:nth-last-child(2) {
    background-color: var(--blue-grey-100);
}

.home section:nth-last-child(2) h2 {
    margin-top: 0;
    text-align: center;
}

.home section:nth-last-child(2) div .asterisk {
    margin-top: 0;
    text-align: left;
    margin-top: 3rem;
}

.home section:nth-last-child(2) img,
.gallery section:last-child img {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.gallery section:last-child {
    color: var(--white);
    padding-bottom: 4rem;
}

ul {
    padding-left: 1.5rem;
}

li {
    margin-bottom: 1rem;
}

section:last-child {
    background-color: var(--blue-grey-800);
}

/* FIFTH SECTION (HOME ONLY) */
.home section:last-child div {
    background-color: var(--white);
    border-radius: 0.5rem;
    text-align: center;
    padding: 2rem 1rem;
    margin: 2rem auto;
}

@media screen and (min-width: 720px) {
    /* HEADER AND FOOTER */
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 3rem;
    }

    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 1rem;
    }

    footer p:nth-child(3) {
        width: 70%;
        margin-top: 1rem;
    }

    .logo {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 1rem;
    }

    footer nav {
        width: 55%;
        justify-content: space-around;
    }

    /* FIRST SECTION */
    .gallery section:first-child div {
        display: flex;
        flex-wrap: wrap;
        gap: 0 2rem;
        justify-content: center;
        align-items: flex-start;
    }

    .gallery section:first-child div div,
    .gallery section:first-child div img:nth-last-child(4),
    figure {
        width: 47%;
    }

    figure {
        order: 1;
        margin: 0;
    }

    .gallery section:first-child h3:first-child {
        margin: 1rem 0 0 0;
    }

    /* SECOND SECTION */
    .home section:nth-child(2) p:nth-last-child(2) {
        margin: 0 1rem;
    }

    .home section:nth-child(2) div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0 2rem;
    }

    .home section:nth-child(2) div div {
        width: 46%;
        text-align: left;
        flex-direction: column;
        gap: 0;
    }

    .home section:nth-child(2) div div .asterisk {
        text-align: left;
        margin-bottom: 0.5rem;
    }

    /* THIRD SECTION */
    .gallery section:nth-last-child(2) div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem 2rem;
        margin-bottom: 2rem;
    }

    .gallery section:nth-last-child(2) div p {
        width: 47%;
        padding-bottom: 0;
    }

    .gallery section:nth-last-child(2) h2 {
        text-align: center;
    }

    /* FOURTH SECTION */
    .home section:nth-last-child(2) div:nth-child(4) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        gap: 1.5rem;
    }

    .home section:nth-last-child(2) div div,
    .home section:nth-last-child(2) img {
        width: 47%;
        flex-direction: column;
    }

    .home section:nth-last-child(2) img {
        margin-top: 6.5rem;
    }

    .home section:nth-last-child(2) div div:nth-last-child(2) {
        order: 1;
    }

    .gallery section:last-child .flex-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
    }
    
    .gallery section:last-child div div,
    .gallery section:last-child div img:first-child {
        width: 47%;
    }

    .gallery section:last-child div div {
        margin-top: 1rem;
    }

    .gallery section:last-child h2 {
        text-align: center;
    }


    /* FIFTH SECTION (HOME ONLY) */
    .home section:last-child div {
        width: 70%;
    }
}