:root {
    --blue-grey-50: #ECEFF1;
    --blue-grey-100: #CFD8DC;
    --blue-grey-200: #B0BEC5;
    --blue-grey-400: #78909C;
    --blue-grey-800: #37474f;
    --blue-grey-900: #263238;
    --dark-grey: #111; 
    --white: #fff;
}

body {
    color: #000;
    text-align: left;
}

/* HEADER AND FOOTER */
header, 
footer {
    background-color: var(--dark-grey);
    color: var(--white);
    padding: 2rem 4rem;
}

header a,
footer a {
    text-decoration: none;
    color: var(--white);
}

header div,
footer .logo {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

h1,
footer h2 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

header img {
    max-height: 3.5rem;
}

header nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

footer {
    padding: 3rem 1.5rem;
}

footer p {
    color: var(--blue-grey-200);
}

footer p:first-of-type {
    margin-bottom: 2rem;
}

footer img {
    max-height: 4.75rem;
}

footer nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}

footer h3,
footer a {
    display: block;
}

/* FONT STYLING */
header h1,
footer h2 {
    font-family: "Libre Baskerville", serif;
}

h2,
blockquote {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 2rem;
}

.home section:first-child, 
.gallery section:first-child h2,
section:nth-child(2),
blockquote,
.home section:nth-last-child(2) p {
    text-align: center;
}

main h2,
main h3 {
    margin-bottom: 1.5rem;
}

p {
    margin: 0;
}

.asterisk {
    font-size: 3rem;
    font-weight: bolder;
    margin-top: 3rem;
    line-height: 2rem;
    text-align: center;
}

section {
    padding: 2rem 1.5rem;
}

/* FIRST SECTION */
section:first-child {
    background-color: var(--blue-grey-50);
}

.home section:first-child img {
    display: block;
    margin: 0 auto;
    padding-bottom: 1.5rem;
}

button {
    background-color: var(--dark-grey);
    color: var(--blue-grey-50);
    border: none;
    padding: 1rem;
    border-radius: 0.5rem;
    margin: 2rem;
}

.gallery section:first-child h3,
.gallery section:first-child p {
    margin-bottom: 2rem;
}

.gallery section:first-child img {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.gallery section:first-child h3:first-child {
    margin-top: 2rem;
}

figure {
    margin: 1rem 0;
    padding-bottom: 1rem;
}

/* SECOND SECTION */
.home section:nth-child(2) h2,
.home section:nth-child(2) h3 {
    margin-top: 0;
}

.gallery blockquote {
    padding: 1.5rem 0;
}

/* THIRD SECTION */
.quote {
    background-color: var(--blue-grey-400);
    color: var(--white);
    padding: 1rem 0;
    text-align: center;
}

.quote p:nth-child(2) {
    margin-bottom: 1rem;
}

.quote p:nth-child(3) {
    color: var(--blue-grey-50);
    padding-bottom: 2rem;
}

.gallery section:nth-last-child(2) {
    background-color: var(--blue-grey-400);
    color: var(--white);
}

.gallery section:nth-last-child(2) p {
    padding-bottom: 2rem;
}

/* FOURTH SECTION */
.home section:nth-last-child(2) {
    background-color: var(--blue-grey-100);
}

.home section:nth-last-child(2) h2 {
    margin-top: 0;
    text-align: center;
}

.home section:nth-last-child(2) div .asterisk {
    margin-top: 0;
    text-align: left;
    margin-top: 3rem;
}

.home section:nth-last-child(2) img,
.gallery section:last-child img {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.gallery section:last-child {
    padding-bottom: 4rem;
}

ul {
    padding-left: 1.5rem;
}

li {
    margin-bottom: 1rem;
}

section:last-child {
    background-color: var(--blue-grey-800);
}

/* FIFTH SECTION (HOME ONLY) */
.home section:last-child div {
    background-color: var(--white);
    border-radius: 0.5rem;
}

.gallery section:last-child {
    color: var(--white);
}